body{
    background-color: red;
}

#container{
   
}

#cards{


background-color:blue;
border: 1px solid black;

display: grid;

grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
gap:10px

}

.card{
    background-color: green;

    height: 250px;
   
    display: grid;
    align-items:center;
    justify-content: center;
   
 
    
    
}

.card *{
    margin: 10px;
}


.openForm{
    
    border: 0;

 box-shadow: 0px 0px 10px #888;

}

.openForm::backdrop{
    background-color: blue;
    opacity: .4;
}

.openForm input{
    display: block;
    margin:20px;
}

button{
    border: 0;
    border-radius: 5px;
    padding: 5px;
}

.readColor{
    background-color: aqua;
}
.notReadColor{
    background-color: orange;
}