:root{
    

    background-size: cover;

    font-family: Helvetica, sans-serif 'Arial Narrow Bold', sans-serif sans-serif;

    --primary-color:rgb(255, 198, 172);
    --secondary-color:rgb(255, 246, 220);
    --accent-color:rgb(196, 193, 164);
    --extra-color:rgb(158, 159, 165);
}

#container{

    width: 80vw;
    
    margin:100px auto;

   
}

#cards{


background-color:var(--secondary-color);
/* border: 1px solid black; */

display: grid;

grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
gap:50px

}

.card{
    background-color: var(--primary-color);

    height: 300px;
   
    display: grid;
    align-items:center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
   
 
    
    
}

.card *{
    margin: 10px;
}


.openForm{
    
    border: 0;

 box-shadow: 0px 0px 10px #888;

 width: 250px;

 background-color: var(--extra-color);
 border-radius: 10px;


}

.openForm input[type="text"]{
        border: 0;
        height: 20px;
        border-radius: 3px;
        padding: 3px;
}

.openForm button{
    background-color:var(--secondary-color);
}

.openForm::backdrop{
    background-color: grey;
    opacity: .4;
}

.openForm input[type="text"]{
    display: block;
    margin:20px;
}

.submit, .close{
    display: block;
    margin:20px;
    
}

input[type="checkbox"], label{
    margin-left: 20px;
}


button{
    border: 0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    
}

.readColor{
    background-color: aqua;
}
.notReadColor{
    background-color: orange;
}

#addBook{
    position: fixed;
    bottom: 20px; /* Adjust this value to set the vertical position */
    left: 20px; /* Adjust this value to set the horizontal position */
   
    background-color: #007bff;
    
    border: 0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}

.removeButton{
    color: white;
    background-color: #FF0000 ;
}


