body{
    background-color: red;
}

#container{
   
}

#cards{


background-color:blue;
border: 1px solid black;

display: grid;

grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
gap:10px

}

.card{
    background-color: green;

    height: 250px;
   
    display: grid;
    align-items:center;
    justify-content: center;
   
 
    
    
}

.card *{
    margin: 10px;
}

